table,td,th {
    border:2px solid blue;
    border-collapse:collapse;
}

table {
    width: 70%;
    vertical-align:center;
    text-align:center;
}

thead {
    color: rgb(255, 3, 66);
}

tfoot {
    color: red;
}

tbody {
    color: rgb(0, 0, 0);
}

tr {
    height: 80px;
}

tr:nth-child(even) {
    background-color:aquamarine;

}
tr:nth-child(odd) {
    background-color:lightgreen;
}
tr:hover {
    background-color:lightblue;
}

#contenedor-tabla {
    text-align:center;
}
table {
    margin:auto;
}

#caja1 {
    background-color: lightblue;
    border: 2px solid blue;
    height: 200px;
    width: 90%;
    margin: auto;
    padding: 30px 50px 60px 40px;
}
#caja2 {
    background-color: lightgreen;
    border: 2px solid green;
    height: 200px;
    width: 90%;
    margin-top: 30px;
    margin-right: 30px;
}
